body {
  background: linear-gradient(110deg, #f93d66, #6d47d9);
  /* background-repeat: none; */
  padding: 50px;
  margin: 0px;
}
.first {
  list-style: none;
  display: flex;
  padding: 0px;
  margin-bottom: 30px;
  justify-content: space-between;
}
.first li button {
  background-color: rgb(236, 201, 2);
  border: none;
  width: 100%;
  padding: 0 5rem;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
#second {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 15px;
  padding: 0 1rem 0 0;
}
#left {
  position: relative;
  color: black;
}
#terryimg {
  margin: 0px;
  width: 100%;
  height: 400px;
}
h4 {
  background-color: rgb(236, 201, 2);
  position: absolute;
  bottom: 200px;
  left: 100px;
  font-size: 30px;
  width: 240px;
  padding: 10px;
}
h5 {
  background-color: rgb(236, 201, 2);
  position: absolute;
  bottom: 160px;
  left: 100px;
  font-size: medium;
  font-weight: bold;
  width: 140px;
  height: 20px;
  padding: 5px 10px 5px 10px;
}
.right {
  margin: 0px;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
}
.top-right {
  height: 190px;
  width: 100%;
  background-color: rgb(236, 201, 2);
  text-align: center;
}
.bottom-right {
  background-color: rgb(236, 201, 2);
  height: 190px;
  width: 100%;
  text-align: center;
}
#h2top {
  font-size: 60px;
  line-height: 20px;
}
#h3top {
  font-size: 20px;
  line-height: 0px;
}
#h2bottom {
  font-size: 60px;
  line-height: 20px;
}
#h3bottom {
  font-size: 20px;
  line-height: 0px;
}
#third {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5px;
  margin: 0 0 20px 0;

  padding: 0 1rem 0 0;
}

.third-div {
  background-color: white;
  text-align: center;
  padding: 2rem 2rem;
}
#tacoimg {
  width: 100px;
}
#beerimg {
  padding: 10px;
  width: 70px;
}
#wineimg {
  padding-top: 5px;
  width: 120px;
}
#musicimg {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 30px;
}
#fourth {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 0;
}
#tacoimage {
  width: 30%;
  margin: 1rem;
  
}
#fourthdiv {
  text-align: left;
  font-weight: bold;
  margin-left: 2rem;
}
#fourthtext {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#fourthdesc {
  padding-top: 0px;
  margin-top: 0px;
}
#learnmore {
  border: none;
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  background: rgb(236, 201, 2);
}
.images {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  margin: 0 0 15px 0;
}
.instantgram {
  display: flex;
  width: 100%;
}
#instantgram {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 15px;
  line-height: 6px;
  margin-left: 10px;
  margin-right: 10px;
}
#gram-left {
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to left, rgb(236, 201, 2), transparent);
  width: 900px;
  height: 10px;
}
#gram-right {
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to right, rgb(236, 201, 2), transparent);
  width: 900px;
  height: 10px;
}

#img-test{
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 1rem;
}
#img-test img{
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 414px) {
  body {
    background: pink !important;
    padding: 50px;
    margin: 0px;
  }

  .first {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    margin: 0;
    padding: 0 8px 10px 0;
  }
  .first li button {
    padding: 0;
    font-size: 15px;
  }
  #second {
    grid-template-columns: 100%;
    padding: 0;
  }

  .top-right {
    width: 100%;
  }
  .bottom-right {
    width: 100%;
  }

  #terryimg {
    margin: 0px;
    width: 100%;
    height: 400px;
  }
  h4 {
    left: 30px;
  }
  h5 {
    left: 30px;
  }
  #third {
    grid-template-columns: auto;
    padding: 0;
  }
  #fourth {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #tacoimage {
    width: 60%;
    margin: 1rem 0 0 2rem;
  }
  #gram-left {
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, rgb(236, 201, 2), transparent);
    width: 40%;
    height: 10px;
  }
  #gram-right {
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(236, 201, 2), transparent);
    width: 40%;
    height: 10px;
  }
  #img-test{
    grid-template-columns: auto;
  }
}